<div class="center">
  <h1>
    {{ this.title }}
    <small>{{ this.lead }}</small>
  </h1>
  {{ this.description }}
  <p>
    <a href="{{ this.href }}" target="_blank" class="cta-button">{{ this.button_label }}</a>
  </p>
</div>
