<section id="{{ this.id }}" class="map {{ this.class }}">
  <div class="content">
    <div class="map" id="map-{{ this.id }}"></div>
    <div class="address center">
      {{ this.destination }}
    </div>
  </div>
</section>

<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
  integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
  integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>

<script type="text/javascript">
  var map = L.map('map-{{ this.id }}', {
    center: [{{ this.lat }}, {{ this.long }}],
    zoom: {{ this.zoom }},
    scrollWheelZoom: false,
    touchZoom: false
  });
  L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
    maxZoom: 19,
    attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
  }).addTo(map);
  L.marker([{{ this.lat }}, {{ this.long }}]).addTo(map);
</script>
