<a class="open-modal" href="#" data-modal="modal-{{ this.id }}">
  <div class="sponsor rank-{{ this.rank }}" id="sponsor-{{ this.id }}" style="background-image: url('{{ this.logo }}');" title="{{ this.title }}">
  </div>
</a>
<dialog id="modal-{{ this.id }}" class="modal">
  <section class="rows">
    <div class="content">
      <a class="close-button close-modal" href="#">&times;</a>
      <img class="sponsor" src="{{ this.logo }}" title="{{ this.title }}" alt="{{ this.title }} logo">
      {{ this.description }}
      <p>
        <a href="{{ this.href }}" target="_blank" class="">
          {{ this.href }}
        </a>
      </p>
    </div>
  </section>
</dialog>
