/* LFNW colors */
$mountain-blue: rgba(48, 72, 88, 1);
$bay-blue: rgba(62, 127, 158, 1);
$evergreen: rgba(119, 149, 74, 1);
$tux-beak: rgba(233, 181, 71, 1);
$foreground: rgba(255, 255, 255, 1);

/* functional colors */
$navbar-bg: $mountain-blue;
$navbar-fg: $foreground;

$footer-bg: $mountain-blue;
$footer-fg: $foreground;
$footer-fade-start: $evergreen;

$shadow: rgba(0, 0, 0, 0.5);

/* functional sizes */
$max-img-width: 360px;

/*
 * STRUCTURE
 */

/* top navigation menu - fixed to top of viewport
 * collapses under 800px
 */
nav.top {
  position: fixed;
  width: 100%;
  min-height: 48px;
  padding-bottom: 16px;
  z-index: 1;

  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: flex-start;

  background: $navbar-bg;
  background: linear-gradient(to top, change-color($navbar-bg, $alpha: 0) 0%, $navbar-bg 16px);
  color: $navbar-fg;
  font-weight: 400;

  img#logo {
    height: 40px;
    margin: 4px 12px 4px 4px;
  }

  label.menu {
    cursor: pointer;
    height: 48px;
    padding: 20px 8px;
    display: none;
    text-align: right;
  }

  #side-menu {
    display: none;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    max-width: 710px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;

    li {
      color: inherit;
      text-align: right;
      padding: 14px 8px;
      line-height: 18px;
      font-size: 18px;

      a {
        color: inherit;
        text-decoration: none;

        &:hover {
          color: $tux-beak;
        }
      }
    }
  }
}

@media (max-width: 800px) {
  nav.top {
    justify-content: space-between;

    label.menu {
      display: block;

      .hamb-line {
        background: $navbar-fg;
        float: right;
        display: block;
        height: 2px;
        position: relative;
        width: 24px;

        &::before,
        &::after {
          background-color: $navbar-fg;
          content: '';
          display: block;
          height: 100%;
          position: absolute;
          transition: all .2s ease-out;
          width: 100%;
        }

        &::before {
          top: 5px;
        }

        &::after {
          top: -5px;
        }
      }
    }

    ul {
      flex-direction: column;
      justify-content: flex-start;
      display: none;

      li {
        padding: 8px 14px;
      }
    }
  }

  #side-menu:checked~ul {
    display: block;
  }

  #side-menu:checked~.menu .hamb-line {
    background: transparent;

    &::before {
      transform: rotate(-45deg);
      top: 0;
    }

    &::after {
      transform: rotate(45deg);
      top: 0;
    }
  }
}

/* Primary content area - effectively "body" */
body {
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;

  font-family: 'Ubuntu', sans-serif;
}

#content-area {
  flex: 1;

  margin-top: 48px;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  &>section {
    position: relative;
    z-index: 0;

    background: $bay-blue;
    color: white;
  }

  &>section:not(:first-of-type) {
    padding: 60px 0 0;

    &:before {
      content: "";

      position: absolute;
      z-index: -1;
      top: 0;
      left: 0;
      right: 0;
      height: 60px;

      background: white;
      mask: url("trees-negative.svg") repeat-x;
      -webkit-mask: url("trees-negative.svg") repeat-x;
    }
  }

  &>section:nth-of-type(even) {
    padding: 60px 0 0;

    &:before {
      background-color: $bay-blue;
    }

    background-color: white;
    color: black;

    h1,
    h3,
    h5 {
      color: $evergreen;
    }
  }

  &>section:last-child {
    padding-bottom: 60px;

    &:after {
      content: "";

      position: absolute;
      z-index: -1;
      bottom: 0;
      left: 0;
      right: 0;
      height: 60px;

      background: $footer-fade-start;
      mask: url("trees.svg") repeat-x;
      -webkit-mask: url("trees.svg") repeat-x;
    }
  }

  #header {
    display: flex;
    flex-direction: column;
    align-items: center;

    font-size: 120%;
    text-align: center;

  }

  #sponsors {
    &>.content {
      align-items: stretch;

      &>section {
        margin: 1rem;
        padding-bottom: 1rem;
        background: white;
        background: linear-gradient(to top, rgba(255, 255, 255, 0) 0, white 1rem);
        border-top: 1px solid silver;
      }
    }
  }
}

/* footer - at least at bottom of viewport, scrollable
 */
footer {
  padding: 1rem;

  background: $footer-bg;
  background: linear-gradient(to bottom, $footer-fade-start 0%, $footer-bg 75%);
  color: $footer-fg;

  .content {
    display: flex;
    flex-direction: column;

    .link-list {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-evenly;
    }
  }
}

/*
 * ELEMENTS
 */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
  text-align: center;
  margin: 1rem 0.5rem 1rem 0.5rem;
  padding: 0;

  small {
    display: block;
    font-weight: 300;
    font-size: 75%;
  }
}

h1,
h3,
h5 {
  color: $tux-beak;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.8em;
}

h3 {
  font-size: 1.6em;
}

h4 {
  font-size: 1.4em;
}

h5 {
  font-size: 1.2em;
}

h6 {
  font-size: 1.0em;
}

a {
  color: inherit;

  &:hover {
    color: $tux-beak;
  }
}

img {
  max-width: 96vw;
}

ul.link-list {
  list-style-type: none;
  margin: 0.5em;
  padding: 0;

  display: flex;
  flex-direction: column;

  li {
    display: block;
    margin: 0.5em;
    white-space: nowrap;

    a {
      color: inherit;
      text-decoration: none;
      border-bottom: 1px solid;

      &:hover {
        color: $tux-beak;
      }
    }
  }
}

.cta-button {
  display: inline-block;
  color: black;
  background-color: $tux-beak;

  text-decoration: none;
  font-size: 120%;

  padding: 0.5em 1em;
  margin: 0.5em;
  border: 2px solid $tux-beak;
  border-radius: 0.5em;

  &:hover {
    color: black;
    border-color: black;
  }
}

.center {
  text-align: center;
}

.right-align {
  text-align: right;
  align-self: flex-end;
}

/* don't let contents get too wide */
.content {
  max-width: 1200px;
  margin: auto;
}

div.sponsor {
  width: $max-img-width;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;

  &.rank-1 {
    width: $max-img-width;
    height: 0.5 * $max-img-width;
  }

  &.rank-2 {
    width: 0.92 * $max-img-width;
    height: 0.5 * 0.92 * $max-img-width;
  }

  &.rank-3 {
    width: 0.84 * $max-img-width;
    height: 0.5 * 0.84 * $max-img-width;
  }

  &.rank-4 {
    width: 0.76 * $max-img-width;
    height: 0.5 * 0.76 * $max-img-width;
  }

  &.rank-5 {
    width: 0.68 * $max-img-width;
    height: 0.5 * 0.68 * $max-img-width;
  }

  &.rank-6 {
    width: 0.60 * $max-img-width;
    height: 0.5 * 0.60 * $max-img-width;
  }

  &.rank-7 {
    width: 0.52 * $max-img-width;
    height: 0.5 * 0.52 * $max-img-width;
  }

  margin: 1rem;

  display: flex;
  flex-direction: column;
  justify-content: center;


  img {
    width: 100%;
  }
}

dialog.modal {
  background-color: white;
  padding: 1rem;
  border-radius: 2em;
  border: 0;
  box-shadow: 0 0 1em $shadow;
  width: 80%;
  max-width: 800px;
  max-height: 100vw;
  overflow: scroll;

  &::backdrop {
    background-color: $shadow;
  }

  /* for IOS Safari using dialog-polyfill */
  position: fixed;
  top: 50%;
  transform: translate(0, -50%);

  .backdrop {
    background-color: $shadow;
  }
  /* end polyfill hacks */

  .content {
    .close-button {
      font-size: 3rem;
      line-height: 1.5rem;
      margin: 0 0 1rem;
      padding: 0;
      align-self: flex-end;

      color: black;
      text-decoration: none;

      &:hover {
        color: $tux-beak;
      }
    }

    img {
      width: $max-img-width;
      max-width: 80%;
      height: 0.5 * $max-img-width;
      object-fit: contain;
    }
  }

}

section.columns {
  &>.content {
    /* display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    */
    gap: 1rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: stretch;
  }
}

section.rows {
  &>.content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
}

section.map {
  .content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem;

    > * {
      margin: 0 1rem;
    }

    > div.map {
      height: 400px;
      margin: 1rem 2rem;
      border-radius: 0.5rem;
      grid-column-start: span 2;
    }

    > div.address {
    }
  }
}
