/* LFNW colors */
/* functional colors */
/* functional sizes */
/* STRUCTURE */
/* top navigation menu - fixed to top of viewport collapses under 800px */
nav.top { position: fixed; width: 100%; min-height: 48px; padding-bottom: 16px; z-index: 1; display: flex; flex-wrap: nowrap; flex-direction: row; justify-content: flex-start; background: #304858; background: linear-gradient(to top, rgba(48, 72, 88, 0) 0%, #304858 16px); color: white; font-weight: 400; }

nav.top img#logo { height: 40px; margin: 4px 12px 4px 4px; }

nav.top label.menu { cursor: pointer; height: 48px; padding: 20px 8px; display: none; text-align: right; }

nav.top #side-menu { display: none; }

nav.top ul { list-style-type: none; margin: 0; padding: 0; max-width: 710px; display: flex; flex-wrap: nowrap; flex-direction: row; justify-content: flex-end; align-items: flex-end; }

nav.top ul li { color: inherit; text-align: right; padding: 14px 8px; line-height: 18px; font-size: 18px; }

nav.top ul li a { color: inherit; text-decoration: none; }

nav.top ul li a:hover { color: #e9b547; }

@media (max-width: 800px) { nav.top { justify-content: space-between; } nav.top label.menu { display: block; } nav.top label.menu .hamb-line { background: white; float: right; display: block; height: 2px; position: relative; width: 24px; } nav.top label.menu .hamb-line::before, nav.top label.menu .hamb-line::after { background-color: white; content: ''; display: block; height: 100%; position: absolute; transition: all .2s ease-out; width: 100%; } nav.top label.menu .hamb-line::before { top: 5px; } nav.top label.menu .hamb-line::after { top: -5px; } nav.top ul { flex-direction: column; justify-content: flex-start; display: none; } nav.top ul li { padding: 8px 14px; } #side-menu:checked ~ ul { display: block; } #side-menu:checked ~ .menu .hamb-line { background: transparent; } #side-menu:checked ~ .menu .hamb-line::before { transform: rotate(-45deg); top: 0; } #side-menu:checked ~ .menu .hamb-line::after { transform: rotate(45deg); top: 0; } }

/* Primary content area - effectively "body" */
body { min-height: 100vh; display: flex; flex-direction: column; flex-wrap: nowrap; font-family: 'Ubuntu', sans-serif; }

#content-area { flex: 1; margin-top: 48px; display: flex; flex-direction: column; justify-content: flex-start; }

#content-area > section { position: relative; z-index: 0; background: #3e7f9e; color: white; }

#content-area > section:not(:first-of-type) { padding: 60px 0 0; }

#content-area > section:not(:first-of-type):before { content: ""; position: absolute; z-index: -1; top: 0; left: 0; right: 0; height: 60px; background: white; mask: url("trees-negative.svg") repeat-x; -webkit-mask: url("trees-negative.svg") repeat-x; }

#content-area > section:nth-of-type(even) { padding: 60px 0 0; background-color: white; color: black; }

#content-area > section:nth-of-type(even):before { background-color: #3e7f9e; }

#content-area > section:nth-of-type(even) h1, #content-area > section:nth-of-type(even) h3, #content-area > section:nth-of-type(even) h5 { color: #77954a; }

#content-area > section:last-child { padding-bottom: 60px; }

#content-area > section:last-child:after { content: ""; position: absolute; z-index: -1; bottom: 0; left: 0; right: 0; height: 60px; background: #77954a; mask: url("trees.svg") repeat-x; -webkit-mask: url("trees.svg") repeat-x; }

#content-area #header { display: flex; flex-direction: column; align-items: center; font-size: 120%; text-align: center; }

#content-area #sponsors > .content { align-items: stretch; }

#content-area #sponsors > .content > section { margin: 1rem; padding-bottom: 1rem; background: white; background: linear-gradient(to top, rgba(255, 255, 255, 0) 0, white 1rem); border-top: 1px solid silver; }

/* footer - at least at bottom of viewport, scrollable */
footer { padding: 1rem; background: #304858; background: linear-gradient(to bottom, #77954a 0%, #304858 75%); color: white; }

footer .content { display: flex; flex-direction: column; }

footer .content .link-list { flex-direction: row; flex-wrap: wrap; justify-content: space-evenly; }

/* ELEMENTS */
h1, h2, h3, h4, h5, h6 { font-weight: 500; text-align: center; margin: 1rem 0.5rem 1rem 0.5rem; padding: 0; }

h1 small, h2 small, h3 small, h4 small, h5 small, h6 small { display: block; font-weight: 300; font-size: 75%; }

h1, h3, h5 { color: #e9b547; }

h1 { font-size: 2em; }

h2 { font-size: 1.8em; }

h3 { font-size: 1.6em; }

h4 { font-size: 1.4em; }

h5 { font-size: 1.2em; }

h6 { font-size: 1.0em; }

a { color: inherit; }

a:hover { color: #e9b547; }

img { max-width: 96vw; }

ul.link-list { list-style-type: none; margin: 0.5em; padding: 0; display: flex; flex-direction: column; }

ul.link-list li { display: block; margin: 0.5em; white-space: nowrap; }

ul.link-list li a { color: inherit; text-decoration: none; border-bottom: 1px solid; }

ul.link-list li a:hover { color: #e9b547; }

.cta-button { display: inline-block; color: black; background-color: #e9b547; text-decoration: none; font-size: 120%; padding: 0.5em 1em; margin: 0.5em; border: 2px solid #e9b547; border-radius: 0.5em; }

.cta-button:hover { color: black; border-color: black; }

.center { text-align: center; }

.right-align { text-align: right; align-self: flex-end; }

/* don't let contents get too wide */
.content { max-width: 1200px; margin: auto; }

div.sponsor { width: 360px; background-repeat: no-repeat; background-size: contain; background-position: center center; margin: 1rem; display: flex; flex-direction: column; justify-content: center; }

div.sponsor.rank-1 { width: 360px; height: 180px; }

div.sponsor.rank-2 { width: 331.2px; height: 165.6px; }

div.sponsor.rank-3 { width: 302.4px; height: 151.2px; }

div.sponsor.rank-4 { width: 273.6px; height: 136.8px; }

div.sponsor.rank-5 { width: 244.8px; height: 122.4px; }

div.sponsor.rank-6 { width: 216px; height: 108px; }

div.sponsor.rank-7 { width: 187.2px; height: 93.6px; }

div.sponsor img { width: 100%; }

dialog.modal { background-color: white; padding: 1rem; border-radius: 2em; border: 0; box-shadow: 0 0 1em rgba(0, 0, 0, 0.5); width: 80%; max-width: 800px; max-height: 100vw; overflow: scroll; /* for IOS Safari using dialog-polyfill */ position: fixed; top: 50%; transform: translate(0, -50%); /* end polyfill hacks */ }

dialog.modal::backdrop { background-color: rgba(0, 0, 0, 0.5); }

dialog.modal .backdrop { background-color: rgba(0, 0, 0, 0.5); }

dialog.modal .content .close-button { font-size: 3rem; line-height: 1.5rem; margin: 0 0 1rem; padding: 0; align-self: flex-end; color: black; text-decoration: none; }

dialog.modal .content .close-button:hover { color: #e9b547; }

dialog.modal .content img { width: 360px; max-width: 80%; height: 180px; object-fit: contain; }

section.columns > .content { /* display: grid; grid-template-columns: repeat(auto-fit, minmax(320px, 1fr)); */ gap: 1rem; display: flex; flex-direction: row; flex-wrap: wrap; justify-content: space-evenly; align-items: stretch; }

section.rows > .content { display: flex; flex-direction: column; justify-content: space-evenly; align-items: center; }

section.map .content { display: grid; grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); gap: 1rem; }

section.map .content > * { margin: 0 1rem; }

section.map .content > div.map { height: 400px; margin: 1rem 2rem; border-radius: 0.5rem; grid-column-start: span 2; }
