<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <title>{{ bag('lektorproject.project.short_title') }} - {% block title %}{% endblock %}</title>
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <meta name="description" content="" />
  <link rel="preconnect" href="https://cdn.jsdelivr.net/">
  <link href="https://cdn.jsdelivr.net/npm/modern-normalize@v2.0.0
/modern-normalize.min.css" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://cdnjs.cloudflare.com/">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/fontawesome.min.css" integrity="sha512-siarrzI1u3pCqFG2LEzi87McrBmq6Tp7juVsdmGY1Dr8Saw+ZBAzDzrGwX3vgxX1NkioYNCFOVC0GpDPss10zQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/solid.min.css" integrity="sha512-P9pgMgcSNlLb4Z2WAB2sH5KBKGnBfyJnq+bhcfLCFusrRc4XdXrhfDluBl/usq75NF5gTDIMcwI1GaG5gju+Mw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/brands.min.css" integrity="sha512-W/zrbCncQnky/EzL+/AYwTtosvrM+YG/V6piQLSe2HuKS6cmbw89kjYkp3tWFn1dkWV7L1ruvJyKbLz73Vlgfg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" type="text/css" href="{{ 'app.css' | asseturl }}" />
  <link rel="stylesheet" type="text/css" href="{{ 'dialog-polyfill.css' | asseturl }}" />
  <link rel="icon" href="{{ 'favicon.png' | asseturl }}">
  <meta name="theme-color" content="#304858">
  <meta property="og:title" content="{{ bag('lektorproject.project.short_title') }}" />
  <meta property="og:description" content="{{ bag('lektorproject.project.description') }}" />
  <meta property="og:image" content="{{ 'logo.svg' | asseturl }}" />
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="{{ bag('social.twitter.handle') }}" />
  <meta name="twitter:title" content="{{ bag('lektorproject.project.short_title') }}" />
  <meta name="twitter:description" content="{{ bag('lektorproject.project.description') }}" />
  <meta name="twitter:image" content="{{ 'logo.svg' | asseturl }}" />
</head>

<body>
  <!-- Navigation bar -->
  <nav class="top">
    <!-- Logo -->
    <a href="/">
      <img id="logo" src="{{ 'header-logo.svg' | asseturl }}" alt="{{ bag('lektorproject.project.name') }} logo"
      title="{{ bag('lektorproject.project.name') }}">
    </a>
    <div>
      <!-- Hamburger icon -->
      <input class="menu" type="checkbox" id="side-menu" />
      <label class="menu" for="side-menu"><span class="hamb-line"></span></label>
      <!-- Menu -->
      <ul class="menu">
        {% for navitem in bag('navbar').items() %}
        <li>
          {% set label = bag('navbar', navitem[0], 'label') %}
          {% set href = bag('navbar', navitem[0], 'href') %}
          {% set target = bag('navbar', navitem[0], 'target') %}
          <a href="{{ href }}" {% if target %}target="{{ target }}" {% endif %} onclick="document.getElementById('side-menu').checked = false;">{{ label }}</a>
        </li>
        {% endfor %}
      </ul>
    </div>
  </nav>
  <!-- body -->
  <div id="content-area">
    {% block body %}{% endblock %}
  </div>
  <footer>
    <div class="content">
      <p>{{ bag('lektorproject.project.description_markdown') | markdown }}</p>
      {% if bag('social') %}
      <ul class="link-list">
        {% for channel in bag('social').keys() %}
        <li>
          <a href="{{ bag('social', channel, 'url') }}" target="_blank">
            <i class="fa-{{ bag('social', channel, 'set') }} fa-{{ bag('social', channel, 'icon') }}"></i>
            {{ channel }}
          </a>
        </li>
        {% endfor %}
      </ul>
      {% endif %}
    </div>
  </footer>
  <!-- scripts -->
  <!-- Matomo -->
  <img referrerpolicy="no-referrer-when-downgrade" src="https://lfnw.innocraft.cloud/matomo.php?idsite={{ bag('lektorproject.project.matomo_site_id') }}&amp;rec=1" style="border:0; width:0; height:0; " alt="" />
  <!-- End Matomo Code -->
  <script src="{{ 'dialog-polyfill.js' | asseturl}}"></script>
  <script src="{{ 'app.js' | asseturl }}" type="text/javascript"></script>
</body>
</html>
